body{
  background:#666B71;
  font-family:"微軟正黑體";
}
.accordion-container {
  margin: 0px auto;
}
.accordion-wrapper {
  
}
.accordion-header {
  position: relative;
  cursor: pointer;
  background-color: #fffef4;
  border-bottom: 1px solid #F2E2AE;
  border-left: 5px solid #7E8AA2;
}
.accordion-header a {
  display: inline-block;
  color: #4C4C4C;
  font-size:16px;
  text-decoration:none;
  padding: 10px 0px 10px 0px;
}
.accordion-header a span {
  display: inline-block;
  width: 45px;
  background-color: #BD8D45;
  padding: 5px;
  font-size: 12px;
  color: #fff;
  margin: 0px 15px 0px 10px;
}
.accordion-arrow {
  position: absolute;
  top: 0px;
  right: 20px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.open.accordion-arrow {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.accordion-arrow a {
    color: #4C4C4C;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
}
.accordion-body{
  padding:10px 15px 10px 85px;
  border-top: 3px solid #f5f5f5;
  background-color: #fdfdfd;
  color: #4C4C4C;
  display:none;
  font-size: 14px;
}