
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
body {
    margin-top: 30px;
    font-family: "微軟正黑體";
    color: #4C4C4C;
    background-color: #666B71;
}


.tab-container {
    position: relative;
    max-width: 1000px;
    margin: 0px auto;
    /*z-index: 10;*/
}
.tab-container .tab-header {
    background-color: #f0f;
    /*z-index: 10;*/
}
.tab-container .tabs-nav {
    /* float: left;*/
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}
.tab-container .tabs-nav li {
    float: left;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f8f7ee;
    border-left: 1px solid #E3E3E3;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.tab-container .tabs-nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #4C4C4C;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 15px;
    outline: none;
}
.tab-nav li:first-child {
    border-left: none;
}
.tab-container .tabs-nav a:hover {
    background-color: rgba(233, 230, 202, 0.3);
}
.tab-container .tabs-nav a.active {
    background-color: #fffef4;
    box-shadow: inset 0 5px 0 #EB6F23;
}
.tab-content {
    margin: 0px;
    padding: 15px 0px;
    font-size: 14px;
    background-color: #fffef4;
    color: #4C4C4C;
}
..tab-container .tabs-nav {     /*bug?*/
    display: none;
}